body
{
    background: lightgrey;
    font-family:Arial, Helvectica, sans-serif;
}

.assignment
{
    display:flex;
    padding:10px;
    margin:10px;
    background: lightgray;
    border-radius:5px;
}

.assignment img
{
    width:200px;
    padding:10px;
    border:4px solid white;
}

.assignment img:hover
{
   border:4px dashed blue;
}

h1
{
    color:darkslategrey;
    text-align:center;
}

h1:hover
{
    color:blue;
}